db:
  connectionstring: '[CONNECTIONSTRING]'

classifier:
  classes: []
  tipos_publicacoes: []
  num_keywords: 0

tuning:
  cv_num_splits: 3
  params_filepath: '[TUNING RESULTS PATH]'

logging:
  filepath: '[LOGFILE PATH]'
  filehandler:
    backupCount: 0
    maxBytes: 0
